<div class="container">
  <div class="row">
    <div class="col-md-9 mt-5">
      <h4>▼展開サービス一覧</h4>
      <% @services.each do |service| %>
        <table class="service-items border">
          <tr>
            <td>
              <% if service.image.attached? %>
                <%= image_tag service.image.variant(resize:'150x120') %>
              <% else %>
                <%= image_tag 'sutidy_noimage.png', size: '150x120' %>
              <% end %>
            </td>
            <td>
              <%= link_to service.name, clients_analytics_path(service) %>
              <div class="text-right">
                ¥<strong><%= service.price %></strong>(税込)
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    </div>


    <div class="col-md-3 mt-5">
      <%= link_to(new_service_path) do %>
        <button class="btn btn-warning btn-lg" >新規サービス作成</button>
      <% end %>
    </div>
  </div>
</div>