<div class="container">
  <div class="row mt-3">
    <div class="col-md-8">
      <h5>▼サービス詳細</h5>
      <p>【サービス名】 <%= @service.name %></p>
      <p>【月間利用料】 <%= @service.price %> 円</p>
    </div>

    <div class="col-md-4">
      <h4 class="mb-4">収益合計</h4>
      <p>¥<strong><%= @service.subscribed_items.sum(:subscribed_price) %></strong>(税込)</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <h4>利用者分布</h4>
      <%= pie_chart @gender_chart %>
      <%= pie_chart @age_chart %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <h5>▼請求状況一覧</h5>
      <table class="table table-hover table-inverse">
          <tr>
            <th>利用者</th>
            <th>請求ステータス</th>
          </tr>
          <% @subscribed_items.each do |item| %>
          <tr>
            <td><%= item.user.last_name + "" + item.user.first_name %></td>
            <td>
              <%= form_with model: item, url: update_analytics_path(item.id), method: :patch, local:true do |f| %>
                <%= f.select :payment_status, SubscribedItem.payment_statuses.keys %>
                <%= f.submit '更新', class:"btn btn-primary btn-sm ml-5"%>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>