<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h5 class="font-weight-bold mt-3">ログイン</h5>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mt-4">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions mt-2">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>

      <h5 class="mt-5">まだ会員登録がお済みでない方</h5>
      <div>
        <%= link_to "こちら", new_user_registration_path %>
        から新規登録にお進みください
      </div>
    </div>
  </div>
</div>