<h5>新規会員登録</h5>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "publics/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :名前 %>(姓)<br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :名前 %>(名)<br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :フリガナ %>(セイ)<br />
    <%= f.text_field :last_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :フリガナ %>(メイ)<br />
    <%= f.text_field :first_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.radio_button :gender, :男性 %>
    <%= f.label :gender, "男性", value: 0 %>
    <%= f.radio_button :gender, :女性 %>
    <%= f.label :gender, "女性", value: 1 %>
  </div>

  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.select :age, User.ages.keys, {prompt: '選択してください'} %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h5>既に登録済みの方</h5>
<div>
  <%= link_to "こちら", new_user_session_path %>
  からログインしてください
</div>