<div class="container">
  <div class="row mt-3">
    <div class="col-md-6">
      <h5>サービス概要編集</h5>

      <%= form_with model: @service, url: service_path , local:true do |f| %>

        <div class="mt-4 form-group">
          <label>サービス名</label>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>サービス内容</label>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>イメージ画像</label>
          <td>	<%= f.file_field :image %></td>
        </div>

          <%= f.submit '編集内容を保存', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>