<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% @genres.each do |genre| %>
        <div class="text-center">
          <%= genre.genre_name %>
        </div>
      <% end %>
    </div>
    <div class="col-md-9">
      <% @services.each do |service| %>
        <table class="service-items border">
          <tr>
            <td>
              <% if service.image.attached? %>
                <%= image_tag service.image.variant(resize:'150x120!') %>
              <% else %>
                <%= image_tag asset_path('sutidy_noimage.png'), size: '150x120' %>
              <% end %>
            </td>
            <td>
              <%= link_to service.name, service_path(service.id) %>
              <div class="text-right">
                ¥<strong><%= service.price %></strong>(税込)
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>