<div class="container">
  <div class="row">
    <div class="col-md-7">
      <% if @service.image.attached? %>
        <%= image_tag @service.image.variant(resize: '320x240') %>
      <% else %>
        <%= image_tag 'sutidy_noimage.png' %>
      <% end %>
    </div>
    <div class="col-md-5">
      <h4 class="mt-5 font-weight-bold"><%= @service.name %></h4>
      <p class="mt-4"><%= @service.description %></p>
      <p class="my-4 font-weight-bold">¥<strong><%= @service.price %></strong>(税込)</p>

      <% if @service.is_stopped == "承認中"%>
        <button class="btn btn-success">Coming soon..</button>
      <% elsif @service.is_stopped == "提供停止"%>
        <button class="btn btn-secondary">新規受付終了</button>
      <% elsif user_signed_in? && current_user.client.present? && current_user.client.id == @service.client_id %>
        <%= link_to "サービス編集", edit_service_path, class: "btn btn-sm btn-success" %>
      <% elsif user_signed_in? && current_user.subscribed_items.find_by(service_id: @service.id) %>
        <button class="btn btn-sm btn-success">サブスクライブ中</button>
      <% elsif user_signed_in? %>
        <%= form_with model: @new_subscribed_item, url: new_subscribe_services_path, local:true do |f| %>
          <%= f.hidden_field :service_id, value: @service.id %>
          <%= f.hidden_field :subscribed_price, value: @service.price %>
          <%= f.submit 'サブスクライブ', class: 'btn btn-success'%>
        <% end %>
      <% else %>
        <%= link_to "サブスクライブ", new_user_session_path, class: 'btn btn-success'%>
      <% end %>

    </div>
  </div>
</div>